/* Regole css selettore universale per resettare formattazione */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine */

/* Regole css body */
body {
    font-family: Arial;
    font-size: 16px;
}

/* fine */

/* Regole css testo */
.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-wave {
    opacity: 0.1;
    margin-bottom: -0.4vh;
}

.c-wave-w {
    opacity: 0.1;
    transform: rotate(180deg);
}

.second-section, .fourth-section {
    background-color: #e6e6e6;
}
/* fine */

/* Regole css hover per i button e link */
.header-btn a:hover, .header-bottom a:hover, .btn-sc-mac a:hover {
    color: #3161e0;
}

header .header-ul ul li:hover {
    text-decoration: underline;
}
/* fine */

/* Regola css per centrare il contenuto */
.centering {
    width: 70%;
    margin: auto;
}
/* fine */

/* Regole css per dimensioni */
.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}
/* fine */

/* Regole css per gli elementi flottati */
.float-l {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* fine */

/* Regole css header-top */
.header-top {
    padding: 2vh 0;
    background-color: #3161e0;
}

/* Regole css per tag img header */
header .header-logo img {
    vertical-align: middle;
}
/* fine */

/* Regole css lista non ordinata header */
header .header-ul ul {
    list-style-type: none;
    font-size: 0;
    text-align: center;
}

header .header-ul ul li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 15px;
}
header .header-ul ul li a {
    text-decoration: none;
}
/* fine */

/* Regole css button accedi */
header .header-btn {
    text-align: right;
}

.header-btn a {
    background-color: white;
    font-size: 0.8rem;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
}
/* fine */

/* Regole css header-bottom */

header .header-bottom { 
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 35vh;
    position: relative;
}

.header-bottom .centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fine */

/* Regole css per il titolo h1 */
header .header-bottom h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3vh;
    
}
/* fine */

/* Regole css per il paragrafo  */
header .header-bottom p {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3vh;
}
/* fine */

/* Regole css per i link */
header .header-bottom div {
    text-align: center;
}

header .header-bottom a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 25px;
    border-radius: 20px;
}

a.margin-r {
    margin-right: 1vw;
    background-color: white;
}

a.margin-l {
    margin-left: 1vw;
    background-color: #23272a;
}
/* fine */

/* Regole css main first section */
section {
    height: 70vh;
    position: relative;
}

/* Regole css per centrare vert. e orizz. il contenuto delle sez. */
section .centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fine */

/* Regole css dimensionamento img e allineamento */
main img {
    width: 100%;
}

section .aside-txt {
    margin-top: 3vh;
}
/* fine */

/* Regole css formattazione testi delle sezioni */
section .aside-txt h2 {
    font-size: 3rem;
    margin-bottom: 1.5vh;
}

section .aside-txt p {
    font-size: 1.3rem;
}
/* fine */

/* Regole css aggiunta margine tra img e testo */
.margin-txt-l {
    margin-left: 10%;
}

.margin-txt-r {
    margin-right: 10%;
}
/* fine */

/* Regole css per la quarta sezione */
.fourth-section {
    height: 100vh;
    position: relative;
}

section .f-txt {
    text-align: center;
}

section .f-txt h2 {
    font-size: 3rem;
    margin-bottom: 1.5vh;
}

section .f-txt p {
    font-size: 1.3rem;
}

section h3 {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 3vh;
}

.big-p {
    margin-bottom: 3vh;
}

.star {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -100%);
}

.btn-sc-mac {
    text-align: center;
}

.btn-begin a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #8ea1e1;
}